<div>
	<ol class="breadcrumb">
		<li><a href="#" class="active">文章管理</a></li>
	</ol>
</div>
<div class="content-article">
	<div class="search-list">
		<label for="title" class="control-label">文章标题</label>
		<input type="text" class="form-control lable-width" placeholder="请输入名称">
		<label for="type" class="control-label">文章类别</label>
		<select class="form-control lable-width">
				<option></option>
		</select>
		<button type="button" class="btn btn-primary">搜索</button>
		<a type="button" class="btn btn-primary" href="/article/articleAdd">新增文章</a>
	</div>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>文章标题</th>
					<th>文章类别</th>
					<th>关键字</th>
					<th>作者</th>
					<th>发布时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{{#each article}}
				<tr>
					<td>#</td>
					<td>{{title}}</td>
					<td>{{type}}</td>
					<td>{{keywords}}</td>
					<td>{{author}}</td>
					<td>{{create_time}}</td>
					<td>
						<a type="button" class="btn btn-primary" href="/article/articleEdit?articleId={{_id}}">编辑</a>
						<a type="button" class="btn btn-danger" href="/article/deleteArticle?articleId={{_id}}">删除</a>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
