{{#section 'head'}}
    <link rel='stylesheet' href='/css/blog.css'/>
{{/section}}
<!--博客-->
<div class="blog-content">
    <!--<img class="blog-back" src="/images/blog-back.png">-->
    <div class="homeContent top-style">
        <div class="blog-left">
            {{#each article}}
                <div class="blog-article">
                    <div class="blog-detail">
                        <div class="blog-type">{{type.typeName}}&nbsp;&nbsp;&nbsp;{{create_time}}</div>
                        <div class="blog-detail-title">{{title}}</div>
                        <div class="blog-detail-image">
                            <img src="{{image}}">
                        </div>
                        <div class="blog-detail-text">
                            <div class="blog-detail-txt">
                                {{{txt}}}
                            </div>
                            <div class=""><a href="/blogDetail?articleId={{_id}}">Read More...</a></div>
                        </div>
                    </div>
                    <div class="blog-author">
                        <div class="blog-author-text">Author</div>
                        <div class="blog-author-name">{{author}}</div>
                        <div class="blog-read" title="阅读量"><img src="/images/Xmas_C-01.png" class="blog-icon">{{readAmount}}</div>
                        <div class="blog-read" title="点赞量"><img src="/images/Xmas_C-03.png" class="blog-icon">{{praiseNumber}}</div>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="blog-right">
            <div class="blog-list-group">
                <div class="blog-type-title">Blog Type</div>
                <div class="blog-list-group-item pointer-style">全部</div>
                {{#each type}}
                    <div class="blog-list-group-item pointer-style">{{typeName}}</div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
{{#section 'footer'}}
    <script type="text/javascript" src="/js/home/blog.js"></script>
{{/section}}