{{#section 'head'}}
    <link rel='stylesheet' href='/css/blog.css'/>
    <link rel="stylesheet" type="text/css" href="/css/iconfont.css">
    <script src="/js/handlebars-v4.0.10.js"></script>
{{/section}}
<!--博客-->
<div class="blog-content">
    <div class="homeContent top-style">
        <div class="blog-left" id="tableList">
            {{#each article}}
                <div class="blog-article">
                    <div class="blog-detail">
                        <div class="blog-type">{{type.typeName}}&nbsp;&nbsp;&nbsp;{{create_time}}</div>
                        <div class="blog-detail-title">{{title}}</div>
                        <div class="blog-detail-image">
                            <img src="{{image}}">
                        </div>
                        <div class="blog-detail-text">
                            <div class="blog-detail-txt">
                                {{{txt}}}
                            </div>
                            <div class=""><a href="/blogDetail?articleId={{_id}}">Read More...</a></div>
                        </div>
                    </div>
                    <div class="blog-author">
                        <div class="blog-author-text">Author</div>
                        <div class="blog-author-avatar">
                            <img src="{{author.avatar}}?imageView2/1/w/200/h/200">
                        </div>
                        <div class="blog-author-name">{{author.nickName}}</div>
                        <div class="blog-read" title="阅读量"><span class="icon iconfont icon-yiyuedu blog-read-font"></span><span>&nbsp;&nbsp;{{readAmount}}</span></div>
                        <div class="blog-read" title="点赞量"><span class="icon iconfont icon-dianzan blog-admire-font"></span>&nbsp;&nbsp;{{praiseNumber}}</div>
                    </div>
                </div>
            {{/each}}
            {{#unless article}}
                <div class="blog-no-data">暂时没有内容哦~</div>
            {{/unless}}
        </div>
        <div class="blog-right">
            <div class="blog-list-group">
                <div class="blog-type-title">Blog Type</div>
                <div class="blog-list-group-item pointer-style"><a href="/blog">全部</a></div>
                {{#each type}}
                    <div class="blog-list-group-item pointer-style"><a onclick="getTypeId('{{_id}}')">{{typeName}}&nbsp;&nbsp;(<span class="blog-num">{{num}}</span>)</a></div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="top-btn pointer-style" title="滑到顶部" onclick="slideTop()">
        <span class="icon iconfont icon-dingbu blog-top"></span>
    </div>
</div>
{{#section 'footer'}}
    <script src="/js/home/blog.js"></script>
{{/section}}