{{#section 'head'}}
    <title>sunshine wsf</title>
{{/section}}
<!--首页内容-->
<div  class="homeContent">
    <div class="home-recommend  back-cover">
        <img src="{{recommendArticle.image}}" class="home-recommend-back">
        <div class="recommend-content">
            <div class="recommend-title">{{recommendArticle.title}}</div>
            <div class="recommend-detail">{{recommendArticle.txt}}</div>
        </div>
        <div><a href="/blogDetail?articleId={{recommendArticle._id}}" class="read-more"></a></div>
    </div>
    <div class="home-introduce">
        <div class="home-columns">
            <div class="home-columns-icon">
                <img src="/images/Xmas_C-04.png">
            </div>
            <div class="home-columns-title">Blogs</div>
            <div class="home-columns-detail">
                不定期更新关于前端技术、关于旅行、关于日常的小“美文”哦,还会有各种小推荐，小推荐每周五更新哦~表错过
            </div>
        </div>
        <div class="home-columns">
            <div class="home-columns-icon">
                <img src="/images/Xmas_C-06.png">
            </div>
            <div class="home-columns-title">Project</div>
            <div class="home-columns-detail">
                这里，会有各种小东西小案例哦，很多好玩的东西哦~
            </div>
        </div>
        <div class="home-columns">
            <div class="home-columns-icon">
                <img src="/images/Xmas_C-07.png">
            </div>
            <div class="home-columns-title">Other</div>
            <div class="home-columns-detail">
                暂时还没想好哦~先等等等等
            </div>
        </div>
    </div>
    <div class="home-latest">
        <div class="home-latest-title">最近博客</div>
        <div class="home-blog-grid">
            {{#each articleLatest}}
                {{#if _id}}
                <div class="home-blog-columns">
                    <div class="home-blog-image"><img src="{{image}}" class=""></div>
                    <div class="home-blog-title">{{title}}</div>
                    <div class="home-blog-time">{{create_time}}</div>
                    <div class="home-blog-content">{{{txt}}}</div>
                    <div class="home-more"><a href="/blogDetail?articleId={{_id}}">Read More...</a></div>
                </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>