{{#section 'head'}}
    <link rel='stylesheet' href='/css/editormd.min.css'/>
{{/section}}
<div>
	<ol class="breadcrumb">
		<li><a href="/article" class="active">返回</a></li>
	</ol>
</div>
<div class="content-article">
  <div class="bs-example bs-example-form" id="acticleForm">
      <input class="form-control" id="articleId" value="{{data._id}}" type="hidden"/>
    <div class="input-group">
      <span class="input-group-addon">标题</span>
      <input type="text" class="form-control" placeholder="请输入文章标题" id="title" value="{{data.title}}"/>
    </div>
	  </br>
    <div class="input-group">
      <span class="input-group-addon">分类</span>
			<select id="disabledSelect" class="form-control">
				{{#each type}}
					<option value="{{_id}}">{{typeName}}</option>
				{{/each}}
			</select>
    </div>
	  </br>
    <div class="input-group">
      <span class="input-group-addon">关键字</span>
      <input type="text" class="form-control" placeholder="请输入关键字" id="keywords" value="{{data.keywords}}"/>
      <span class="input-group-addon">（多个关键字之间用“,”间隔）</span>
    </div>
		</br>
		<div id="articleEditormd" name="content"></div>
      <textarea style="width: 100%;">{{data.content}}</textarea>
		<div class="btn-control">
			<button class="btn btn-primary btn-margin" id="saveArticle" onclick="saveArticle()">保存</button>
			<a type="button" class="btn btn-primary" href="/article">取消</a>
		</div>
  </div>
</div>
{{#section 'footer'}}
    <script src="/plugins/editor/editormd.js"></script>
    <script src="../js/article/articleAdd.js"></script>
{{/section}}
