{{#section 'head'}}
    <title>{{title}} sunshine wsf</title>
{{/section}}
<div class="homeContent">
    {{#each article}}
        <div class="page-header">
            <h2 class="blog-title">{{title}}</h2>
            <div class="detail-info">
                {{create_time}}&nbsp;阅读({{readAmount}})
            </div>
        </div>
        <p>{{{contentHtml}}}</p>
        <div class="align-style heart-style">
            <a class="btn btn-default btn-lg" onclick="praiseData('{{_id}}')">
                <span class="glyphicon glyphicon-heart"></span> {{praiseNumber}}
            </a>
        </div>
    {{/each}}
</div>
{{#section 'footer'}}
    <script src="../js/home/blogDetail.js"></script>
{{/section}}